.button {
  padding: 10px 15px;
  border: 1px solid $borderColor;
  background-color: $background;
  border-radius: 10px;
  color: $textColor;

  &:hover {
    background-color: $hoverColor;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
  }
  &.disabled {
    background-color: $disableColor;

    &:hover {
      cursor: initial;
    }
  }
}
