$background: var(--bg-color);
$textColor: var(--text-color);
$borderColor: var(--border-color);
$backgroundSecondary: var(--bg-secondary-color);
$hoverColor: var(--hover-color);
$disableColor: var(--disable-color);
