.task-item {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  align-items: center;
  gap: 10px;
  width: 100%;
  min-height: 65px;
  color: $textColor;

  &:nth-child(2n) {
    background-color: $backgroundSecondary;
  }

  &:hover {
    background-color: $borderColor;
    transition: background-color 0.35s ease-in-out;
  }

  .urgently-icon {
    width: 30px;
    height: 30px;
  }

  &.task-item__done {
    background-color: rgba(0, 128, 0, 0.5);
  }

  &__setting {
    display: flex;
    justify-content: flex-end;
  }
}
