*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Mulish";
  src:
    local("Mulish Regular"),
    local("Mulish-Regular"),
    url("@/assets/fonts/Mulish-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Furore";
  src: url("@/assets/fonts/Furore.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

ul,
ol {
  list-style: none;
}

:root {
  --main-bg-color: #ffffff;
  --bg-color: #bebebe;
  --border-color: #cecece;
  --text-color: #000000;
  --bg-secondary-color: #f3f3f3;
  --hover-color: #929292;
  --disable-color: #e7e7e7;
  &.dark {
    --bg-color: #555555;
    --text-color: #d1d1d1;
    --bg-secondary-color: #5f5f5f;
    --main-bg-color: #00000085;
    --border-color: #949494;
    --hover-color: #888888;
    --disable-color: #9f9f9f;
  }
}

body {
  background-color: var(--main-bg-color);
  font-family: Mulish, Furore, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
